ul.colored {
  background-color: red;
  outline: 1px solid black;
}
ul.colored li {
  background-color: burlywood;
  font-size: 40px;
  outline: 1px solid black;
}
ul.colored li h1 {
  background-color: coral;
  outline: 1px solid black;
}
ul.colored li p {
  background-color: pink;
  outline: 1px solid black;
}
